<app-layout>
  <div *ngIf="router.url == '/'" class="jumbotron">
    <h1>Process Automation based on Machine Learning</h1><i>ACCATHON 2018 - Design.Code.Develop</i>
    <p style="margin-top: 10px">
      Place were you can train with set of data on which image processing algorithm will be applied and respective processes will be executed.
    </p>
  </div>
</app-layout>
<router-outlet></router-outlet> 
<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="router.url == '/'" style="text-align:center">
  <img width="1000px" alt="Angular Logo" src="/src/assets/img/ml.png">
</div>
<div style="height: 75px;"></div>